@model TaskManagementSystem.Models.UserModel

<h2>Login</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    @Html.ValidationSummary()
}
